<section class="entrada">
    <form action="">
        <textarea class="entrada__campo">
            Digite seu texto
        </textarea>

        <div class="entrada__observacao">
        <p class="entrada__observacao__iconeAtencao">!</p>
        <p class="entrada__observacao__texto">Apenas letras minúsculas e sem acento.</p>
        </div>
        <div class="entrada__botoes">
        <button type="submit" value="Criptografar">Criptografar</button>
        <button type="submit" value="Descriptografar">Descriptografar</button>
        </div>
    </form>
</section>