<form id="entrada" class="entrada" action="">
    <textarea id="entrada" class="entrada__campo" rows="13" cols="40" placeholder="Digite seu texto" required></textarea>

    <div class="entrada__observacao">
    <p class="entrada__observacao__iconeAtencao">!</p>
    <p class="entrada__observacao__texto">Apenas letras minúsculas e sem acento.</p>
    </div>
    <div class="entrada__botoes">
    <input onclick="criptografar()" class="entrada__botoes__criptografar" type="submit" value="Criptografar"></button>
    <input class="entrada__botoes__descriptografar" type="submit" value="Descriptografar"></button>
    </div>
</form>