<section class="apresentacao__entrada">
    <form action="">
        <input type="textarea" placeholder="Digite seu texto">
        <div class="apresentacao__entrada__observacao">
        <p class="apresentacao__entrada__observacao__iconeAtencao">!</p>
        <p class="apresentacao__entrada__observacao__texto">Apenas letras minúsculas e sem acento.</p>
        </div>
        <div>
        <button type="submit" value="Criptografar">Criptografar</button>
        <button type="submit" value="Descriptografar">Descriptografar</button>
        </div>
    </form>
</section>