@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-primaria: #0A3871;
    --cor-secundaria: #F3F5FC;
    /*--cor-terciaria: #F3F5FC;
    --cor-quaternaria: #FFFFFF;*/

    --cor-fonte-primaria: #0A3871;
    --cor-fonte-secundaria: #495057;
    --cor-fonte-terciaria: #343A40;
    --cor-fonte-quaternaria: #FFFFFF;

    
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #F3F5FC;
    font-family: "Inter", sans-serif;
}

/*apresentacao*/
.apresentacao {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

/* cabecalho */
.cabecalho__menu {
    width: 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;    
}

.cabecalho__menu__logo {
    display: flex;
    justify-content: center;
}

/*.cabecalho__menu__logo__imagem {

}*/

.cabecalho__menu__opcao {
    height: 176px;
    background-color: #F6F7FD;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho__menu__opcao__seletor {
    width: 72px;
    height: 128px;
    background-color: #FFFFFF;
    border-radius: 36px;
}

/* entrada */
.entrada{
    display: flex;
    flex-direction: column;
}

.entrada__campo {
    
}

.entrada__observacao {
    display: flex;
    justify-content: left;
    align-content: center;
}

.entrada__observacao__iconeAtencao {
    background-color: #65747D;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    text-align: center;
}

.entrada__observacao__texto {
    color: var(--cor-fonte-secundaria);
    font-size: 0.75rem;
    font-weight: 400;
}

/* saida */
.saida {
    width: 400px;
    height: 944px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* nenhumaMensagemEncontrada */
.nenhumaMensagemEncontrada__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-fonte-terciaria);
}

.nenhumaMensagemEncontrada__descricao {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-fonte-secundaria);
}

/*.footer {

}*/